header {
  margin-top: 1.3rem;
}

header .header_area .header_stick {
  position: absolute;

}

.header_area {
  transition: all 0.2s linear;
  width: 100%;
  left: 0;
  z-index: 20;
  top: 0;
}

.navbar {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
}

.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1250px) {
  .container {
    max-width: 1200px;
  }
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-collapse {
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  justify-content: center !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
}

li {
  display: list-item;
  text-align: -webkit-match-paret;
}

.menu > .nav-item {
  position: relative;
  padding-bottom: 35px;
  padding-top: 35px;
}

.nav-link {
  font: 500 15px "Poppins", sans-serif;
  display: block;
  text-decoration: none;
  outline: none;
  color: #143f57;
  padding: 0;
  transition: color 0.3s ease 0s;
}

li:nth-child(2) {
  margin-left: 45px;
}

li:nth-child(3) {
  margin-left: 45px;
}

li:nth-child(4) {
  margin-left: 45px;
}

li:nth-child(5) {
  margin-left: 45px;
}

li:nth-child(6) {
  margin-left: 45px;
}

.btn_get {
  font: 500 14px/47px "Poppins", sans-serif;
  border: 2px solid #ccc5fa;
  border-radius: 4px;
  padding: 0 23px;
  transform: perspective(1px) translateZ(0);
  transition: all 0.3s ease;
  min-width: 120px;
  text-align: center;

  color: #ffffff;
  background: #7ac6eb;
  border-color: #7ac6eb;
  box-shadow: 0 20px 24px 0 rgb(0 11 40 / 10%);

  text-decoration: none;
  outline: none;

}

.btn_get:hover {
  box-shadow: none;
  border-color: #143f57;
  background: #143f57;
  color: #ffffff;
}

.elementor-section {
  background-color: #DEF5FA;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  position: relative;
  padding-top: 1.3rem;
}

.elementor-section > .elementor-container {
  max-width: 1140px;
}

.elementor-section .elementor-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 768px) {

  .elementor-column.elementor-col-50,
  .elementor-column[data-col="50"] {
    width: 50%;
  }
}

.elementor-column-gap-default > .elementor-column > .elementor-element-populated {
  padding: 10px;
}

.elementor-widget-wrap {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.elementor-widget-wrap > .elementor-element {
  width: 100%;
}

.elementor-widget-image {
  text-align: center;
}

.elementor-element.elementor-element-4ef1d02 > .elementor-widget-container {
  margin: 10px;
  padding: 4px;
  border-radius: 3px
}

.elementor-element.elementor-element-4ef1d02 img {
  border-radius: 30px;
}

.elementor-widget-image img {
  vertical-align: middle;
  display: inline-block;
}

.elementor-element.elementor-element-ed90844 > .elementor-heading-title {
  color: #143F57;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.elementor-heading-title {
  padding: 0;
  margin: 0;
  line-height: 1;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.elementor-element.elementor-element-b7012a0 {
  color: #143F57;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.elementor-widget-wrap > .elementor-element {
  width: 100%;
}